body {
  font-family: "Manrope", sans-serif;
}

.flex-container {
  margin: 0 auto;
}

h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191F;
  margin: 0;
  margin-left: 165px;
  margin-top: 80px;
  margin-bottom: 48px;
}

.flex-img {
  color: #18191F;
}

.img1 {
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 630px;
  display: inline-block;
  margin-right: 26px;
  margin-left: 165px;
  margin-bottom: 30px;
}

.img1 h4 {
  margin: 0;
  padding: 32px 0 8px 24px;
}

.img1 p {
  margin: 0;
  padding: 0 0 0 24px;
}

.img2 {
  background-image: url("../img/img2.jpg");
  background-repeat: no-repeat;
  width: 730px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}

.img2 h4 {
  margin: 0;
  padding: 24px 0 8px 24px;
}

.img2 p {
  margin: 0;
  padding: 0 0 0 24px;
}

.img3 {
  background-image: url("../img/img3.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  position: relative;
  top: -330px;  
  right: -545px;
 
}

.img3 h4 {
  margin: 0;
  padding: 24px 0 8px 24px;
}

.img3 p {
  margin: 0;
  padding: 0 0 0 24px;
}

.img4 {
  background-image: url("../img/img4.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 630px;
  position: relative;
  top: -630px;
  right: -925px;
}

.img4 h4 {
  margin: 0;
  padding: 24px 0 8px 24px;
}

.img4 p {
  margin: 0;
  padding: 0 0 0 24px;
}

.img5 {
  background-image: url("../img/img5.jpg");
  background-repeat: no-repeat;
  width: 730px;
  height: 630px;
  margin-left: 165px;
  position: relative; 
  top: -930px;
}

.img5 h4 {
  margin: 0;
  padding: 24px 0 8px 24px;
}

.img5 p {
  margin: 0;
  padding: 0 0 0 24px;
}

.img6 {
  background-image: url("../img/img6.jpg");
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  position: relative;
  top: -1230px;  
  right: -925px;
}

.img6 h4 {
  margin: 0;
  padding: 24px 0 8px 24px;
}

.img6 p {
  margin: 0;
  padding: 0 0 0 24px;
}
